html 
    head
        title Home Page 
    body 
        include ./header
        h3 I'm the main heading #{name} #{url}
        img(src="/image2.jpg", alt="image", srcset="")
        img(src="/image1.jpg", alt="image", srcset="")
        include ./footer