
html 
    head    
        title=myname 
    body 
        //- h1=name
        //- h1 Hi there this is #{name}
        //- a(href=url) Google

        if(name)
            h1 hi , #{name}
        else    
            a(href="/sign_up") sign Up