html
    head 
        title form 
    body
        form( method="POST")
            div 
                label(for="say") Message
                input(name="say" value="Hi")
            br
            div 
                label(for="to") To:
                input(name="to" value="form of express form")
            br
            div 
                label(for="to") To: 
                input(name="imageupload", type="file")
            button(type="submit") Send my greeting